-- DropForeignKey
ALTER TABLE `sessions` DROP FOREIGN KEY `sessions_user_id_fkey`;

-- DropForeignKey
ALTER TABLE `cities` DROP FOREIGN KEY `cities_region_id_fkey`;

-- DropForeignKey
ALTER TABLE `products` DROP FOREIGN KEY `products_category_id_fkey`;

-- DropForeignKey
ALTER TABLE `ingredients` DROP FOREIGN KEY `ingredients_product_id_fkey`;

-- DropForeignKey
ALTER TABLE `orders` DROP FOREIGN KEY `orders_city_id_fkey`;

-- DropForeignKey
ALTER TABLE `orders` DROP FOREIGN KEY `orders_user_id_fkey`;

-- DropForeignKey
ALTER TABLE `order_product` DROP FOREIGN KEY `order_product_product_id_fkey`;

-- DropForeignKey
ALTER TABLE `order_product` DROP FOREIGN KEY `order_product_order_id_fkey`;

-- DropForeignKey
ALTER TABLE `order_product_ingredients` DROP FOREIGN KEY `order_product_ingredients_orderProduct_id_fkey`;

-- DropForeignKey
ALTER TABLE `order_product_ingredients` DROP FOREIGN KEY `order_product_ingredients_ingredient_id_fkey`;

-- DropTable
DROP TABLE `users`;

-- DropTable
DROP TABLE `sessions`;

-- DropTable
DROP TABLE `regions`;

-- DropTable
DROP TABLE `cities`;

-- DropTable
DROP TABLE `categories`;

-- DropTable
DROP TABLE `products`;

-- DropTable
DROP TABLE `ingredients`;

-- DropTable
DROP TABLE `orders`;

-- DropTable
DROP TABLE `order_product`;

-- DropTable
DROP TABLE `order_product_ingredients`;

