-- DropForeignKey
ALTER TABLE `quizzes` DROP FOREIGN KEY `quizzes_speciality_id_fkey`;

-- DropForeignKey
ALTER TABLE `questions` DROP FOREIGN KEY `questions_quiz_id_fkey`;

-- DropForeignKey
ALTER TABLE `answers` DROP FOREIGN KEY `answers_question_id_fkey`;

-- DropForeignKey
ALTER TABLE `results` DROP FOREIGN KEY `results_quiz_id_fkey`;

-- DropForeignKey
ALTER TABLE `results` DROP FOREIGN KEY `results_user_id_fkey`;

-- DropTable
DROP TABLE `specialties`;

-- DropTable
DROP TABLE `quizzes`;

-- DropTable
DROP TABLE `questions`;

-- DropTable
DROP TABLE `answers`;

-- DropTable
DROP TABLE `results`;

-- CreateIndex
CREATE INDEX `sessions_user_id_fkey` ON `sessions`(`user_id` ASC);

