-- DropForeignKey
ALTER TABLE `order_product` DROP FOREIGN KEY `order_product_order_id_fkey`;

-- DropIndex
DROP INDEX `order_product_order_id_product_id_key` ON `order_product`;

-- CreateIndex
CREATE INDEX `sessions_user_id_fkey` ON `sessions`(`user_id` ASC);

-- CreateIndex
CREATE INDEX `cities_region_id_fkey` ON `cities`(`region_id` ASC);

-- CreateIndex
CREATE INDEX `products_category_id_fkey` ON `products`(`category_id` ASC);

-- CreateIndex
CREATE INDEX `ingredients_product_id_fkey` ON `ingredients`(`product_id` ASC);

-- CreateIndex
CREATE INDEX `orders_city_id_fkey` ON `orders`(`city_id` ASC);

-- CreateIndex
CREATE INDEX `orders_user_id_fkey` ON `orders`(`user_id` ASC);

-- CreateIndex
CREATE INDEX `order_product_order_id_fkey` ON `order_product`(`order_id` ASC);

-- CreateIndex
CREATE INDEX `order_product_product_id_fkey` ON `order_product`(`product_id` ASC);

-- CreateIndex
CREATE INDEX `order_product_ingredients_ingredient_id_fkey` ON `order_product_ingredients`(`ingredient_id` ASC);

-- AddForeignKey
ALTER TABLE `orders` ADD CONSTRAINT `orders_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

